header{
  top: 0px;
  left:0px;
  width: 100%;
  height: 60px;
  background-color:black;
}
header ul {
  float: left;
  line-height: 40px;
}

header ul li {
  float: left;
  list-style: none;
  padding-right: 20px;
  color: white;
  font-size: 15px;
}

.left {
  float: left;
  width: 70%;
}

.right {
  padding-top: 15px;
  padding-left: 30px;
  float: left;
  width: 25%;
}

h1 {
  border-left: 5px solid black;
  border-bottom: 1.5px solid black;
}

.left img {
  width: 100%;
}

.box {
  background-color: lightgrey;
  text-align: center;
  margin-bottom: 30px;
}
.box img {
  width: 100%;
  margin: 20px 10px -10px 10px;
}

.box .box_pic1 {
  display: inline-block;
  width: 22%;
}

h2 {
  border-bottom: 1.5px dashed black;
}
ul li {
  list-style: none;
}

footer {
  line-height: 60px;
  clear: left;
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
}
footer p {
  text-align: center;
}
